* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $color-black;
}

.container {
  max-width: 792px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include tablet {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @include notebook {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
.logo {
  font-family: $font-secondary;
  font-weight: 300;
  color: $color-primary;
}

a {
  text-decoration: none;
}

.btn {
  color: $color-white;
  display: inline-block;
  font-weight: 700;
  border: none;
}


