.container__article {
  display: flex;
  flex-direction: column;
  @media (min-width: 980px) {
    flex-direction: row;
  }
}

.article__content {
  background: white;
  margin: 20px;
  box-shadow: 0 5px 5px #999;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  img {
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 5px #ccc;
    @media (min-width: 980px) {
      max-width: 100%;
    }
  }
  .article__content-text {
    margin: 30px 15px;
    h3 {
      font-size: 1.25em;
    }
    span {
      display: block;
      color: #696969;
      font-weight: 300;
      font-size: 0.9125em;
    }

  }
}

.content__subtitle {
  margin-bottom: 30px;

}
