.hamburger-menu {
  height: 38px;
  width: 58px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  position: absolute;
  left: 10px;
  top: 10px;
  border: 0;
  border-radius: 3px;
  color: white;

  i {
    font-size: 1.2rem;
  }
  @media (min-width: 980px) {
    display: none;
  }
}