.header {
  box-shadow: 0 3px 6px $color-secondary-shadow;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 8px 0;
}

.header__logo {
  font-size: 2rem;
}


.list__element {
  display: block;
    font-weight: 700;
    color: $color-grey;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    padding: 28px 18px 16px;
  @include tablet {
    padding-bottom: 32px;

  }
}

.list__element:hover {
  color: $color-black;
  border-bottom: 4px solid $color-primary;

}